@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=vietnamese');
/**
font-family: 'Inconsolata', monospace;
 */
* { margin:0; padding:0; border:none; outline:none; }
body {
    font-family: 'Inconsolata', monospace; font-size: 14px;
	width:400px;
	color:#000;
}
.hidden {display: none;}

/****************
* Header
****************/

/****************
* Main
****************/
main {
    padding: 20px; box-sizing: border-box;
}
input {
	display: block; width: 100%; margin-bottom:5px;
    padding: 5px; box-sizing: border-box;
    border:1px solid #b6b6b6;
}

.output-container {
    display: flex; justify-content: space-between;
    margin-bottom: 5px;
}
span.value {
    font-weight: 700; font-size: 15px;
}

/****************
* Footer
****************/
footer {
    background-color: #f0f0f0; padding: 10px 0;
    color:#636363; text-align:center; font-size: 12px;
}